/*Colours Used
Japanese Indigo - 16404D
Lotion - FCFBFC
Peekaboo - E6DEE6
*/


:root {
  --bg: #FCFBFC;
  --text: #16404D;
  --muted: whitesmoke;
  --accent: #2563eb;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  line-height: 1.7;
  font-family: system-ui, sans-serif;
}

main {
  max-width: 720px;
  margin: 5rem auto;
  padding: 0 0px;
}

nav {
  flex-wrap:wrap;
  justify-content: space-between;
  align-items:center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #FCFBFC;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 16rem;
  height: 100vh;
  background: whitesmoke;
  padding: 0.75rem 0;
  font-size: 0.8rem;
  overflow-y: auto;
  z-index: 100;
}

/* Hide sidebar on small screens 
Need to add hamburger to this.
*/ 
@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}

.sidebar-header {
  display: block;
  margin: 0.25rem 0.75rem 1rem 0.75rem;
  padding: 0.5rem 0.75rem;
  font-weight: 800;
  font-size: 0.9rem;
  text-decoration: none;
  color: #16404D;
  border-radius: 0.4rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0rem 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.4rem;
  text-decoration: none;
  color: black;
}

.sidebar-item:hover {
  background: #FCFBFC;
}

.sidebar-item.active {
  background: #FCFBFC;
  font-weight: 400;
}

.sidebar-section {
  margin-top: 1.5rem;
}

.sidebar-section-title {
  margin: 0.5rem 0.75rem;
  padding: 0 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #16404D;
}

/* Icons */
.icon {
  width: 1.25rem;
  text-align: center;
  font-size: 1rem;
}

/* Main content */
.content {
  flex: 1;
  padding: 2rem;
  background-color: #FCFBFC;
}

/* Timeline */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #16404D;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #16404D;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  left:50%
}

.timeline-container::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #16404D;
  border-width: 10px 10px 10px 0;
  border-color: transparent #16404D transparent transparent;
}

.timeline-container::after {
  left: -16px;
}