/*Colours Used
Japanese Indigo - 16404D
Lotion - FCFBFC
Peekaboo - E6DEE6
*/


:root {
  --bg: #FCFBFC;
  --text: #16404D;
  --muted: whitesmoke;
  --accent: #2563eb;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  line-height: 1.7;
  font-family: system-ui, sans-serif;
}

main {
  max-width: 720px;
  margin: 3rem auto;
  padding: 0 0px;
}

nav {
  flex-wrap:wrap;
  justify-content: space-between;
  align-items:center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #FCFBFC;
}

.page-wrap {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 16rem;
  height: 100vh;
  background: whitesmoke;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0.75rem 0;
  font-size: 0.8rem;
  overflow-y: auto;
  z-index: 100;
}

/* Hide sidebar on small screens 
Need to add hamburger to this.
*/ 
@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}

.sidebar-header {
  display: block;
  margin: 0.25rem 0.75rem 1rem 0.75rem;
  padding: 0.5rem 0.75rem;
  font-weight: 800;
  font-size: 0.9rem;
  text-decoration: none;
  color: #16404D;
  border-radius: 0.4rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0rem 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.4rem;
  text-decoration: none;
  color: black;
}

.sidebar-item:hover {
  background: #FCFBFC;
}

.sidebar-item.active {
  background: #FCFBFC;
  font-weight: 400;
}

.sidebar-section {
  margin-top: 1.5rem;
}

.sidebar-section-title {
  margin: 0.5rem 0.75rem;
  padding: 0 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #16404D;
}

/* Icons */
.icon {
  width: 1.25rem;
  padding: 0.5rem 0 0 0;
  text-align: center;
  font-size: 1rem;
}

/* Main content */
.content {
  flex: 1;
  padding: 2rem;
  background-color: #FCFBFC;
}

/* Timeline */
.timeline {
  position: relative;
  border-left:1px solid #16404D;
  width:50%;
  height:100%;
  z-index: 1;
}

.timeline-container {
  position: relative;
  padding: 2rem 0;
}

.timeline-content {
  position: relative;
  top: -3.25rem;
  margin-left: 3rem;
  width: 150%;
  padding: 0 1.25rem;
  background: #FCFBFC;
}

.timeline-dot {
  position:absolute;
  left: -1.125rem;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #FCFBFC;
  border: 1px solid rgba(0,0,0,0.1);
  vertical-align: middle; 
  z-index: 2;
}

.work-time {
  font-size: 0.875rem;
  color: lightslategray;
}

.work-desc {
  font-size: 1rem;
}

.cooking-link {
  color: blue;

}

.cooking-link:hover {
  color: purple;
}