body { 
    background: #2F3C7E;
    background-image: url(cherryblossom.avif);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    text-align: center;
    font-family: 'Poppins';
    margin-top: 50px;
}

#to-do{
    background: #2F3C7E;
    width: 500px;
    margin: 0 auto;
    border: 2px solid #2F3C7E;
    padding: 40px;
    color: pink;
    border-radius: 20px;
}

#header {
    font-size: 20px;
    color: pink;
    margin: 5px;
    text-align: center;
}

h1 {
    margin-bottom: 20px; 
}

#input-box {
    background: #FBEAEB;
    width: 200px;
    padding: 10px;
    border: 1px solid lightpink;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 20px;
}

#input-button {
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: pink;
}

#input-button:hover {
    background-color: #FBEAEB; 
}

.completed {
    text-decoration: line-through;
    color: lightpink;
    border: 1px solid lightpink;
}

ul {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    text-align: left;
}

li {
    background-color: rgba(92, 109, 199, 0.795);
    border: 1px solid steelblue;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
    word-wrap: break-word;
}

input[type="checkbox"] {
    height: 10px;
    width: 10px;
    background-color: white;
    position: relative;
    outline: none;
    transform: rotate(45deg);
    -webkit-appearance: none;
}

input[type="checkbox"]:before{
    position: absolute;
    content: "";
    background-color: white;
    height: 60%;
    width: 100%;
    top: -59%;
    border-radius: 75px 75px 0 0;
}

input[type="checkbox"]:after{
    position: absolute;
    content: "";
    background-color: white;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 75px 75px 0 0;
    top: 20%;
    right: 79%;
}

input[type="checkbox"]:checked,
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:after,
input[type="checkbox"]:hover,
input:hover[type="checkbox"]:before,
input:hover[type="checkbox"]:after{
    background-color: pink;
}
  
  
.edit-button, .delete-button {
    float: right;
    background: #2F3C7E;
    color: pink;
    cursor: pointer;
    margin: 0px 3px;
    border: 1px solid steelblue;
    border-radius: 4px;
    padding: 2px 2px;
}

.edit-button:hover, .delete-button:hover {
    background: #536be1;
}

.alert {
    position: absolute;
    top: 190px;
    left: 590px;
    width: 200px;
    text-align: center;
    display: none;
    padding: 20px;
    border:pink;
    border-radius: 15px;
    background-color: pink;
    color: #2F3C7E;
}

.closebtn {
    margin-left: 15px;
    color: #2F3C7E;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: steelblue;   
}

.confirm{
    position: absolute;
    width: 450px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    padding: 20px;
    border:pink;
    border-radius: 15px;
    background-color: pink;
    color: #2F3C7E;
}

.edit {
    position: absolute;
    width: 300px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    padding: 20px;
    border:pink;
    border-radius: 15px;
    background-color: pink;
    color: #2F3C7E;
}

.yes-button, .no-button, .done-button, .cancel-button {
    color: #2F3C7E;
    cursor: pointer;
    margin: 0px 3px;
    border-radius: 4px;
    padding: 2px 2px;
}

.yes-button:hover, .no-button:hover,.done-button:hover,
.cancel-button:hover {
    color: #536be1;
}

#edit-box{
    background: #FBEAEB;
    width: 200px;
    padding: 10px;
    border: 1px solid lightpink;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 15px;
}

#clear-tasks {
    position: absolute;
    width: 300px;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(92, 109, 199, 1);
    width: 200px;
    padding: 10px;
    border: 1px solid lightpink;
    border-radius: 5px;
    margin-right: 5px;
}

#clear-tasks:hover {
    background-color:#2F3C7E;
    color:pink;
}

.clear-button {
    color: lightpink;
    cursor: pointer;
    margin: 0px 3px;
    border-radius: 4px;
    padding: 2px 2px;
}

.li-div {
    overflow: auto;
}
