---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="About">
    <section>
    <h1>About Me</h1>
    <p> Based in Sydney, Australia, I'm a current student at UNSW studying to learn more about varying topics and enhance my own knowledge.</p>
    <p> I have a strong depth of knowledge in many computer languages ranging from Python and C to Java, Javascript and R.</p>
    <p> I am also fluent in both English and Mandarin as well as having basic knowledge of Japanese.</p>
    <p> I also have experience working on personal projects in relation to statistical analysis, stocks (options and futures) as well as neural networks and AI.</p>
    <p> I am extremely passionate about improving my own understanding of certain concepts especially within the AI and statistics areas.
        I work well in both collaborative and self-enforced learning as I like to understand where other people's ideas are grounded.</p>
    </section>
    
    <section>
    <h2>Work Experience</h2>
    <div class="timeline">
        <div class="timeline-container">
            <span class="timeline-dot"></span>
            <div class="timeline-content">
                <h3> Everywhere Health: Analyst </h3>
                <p class="work-time"> Sep 2025-Current</p>
                <p class="work-desc">
                    Startup focusing on developing an affordable + asynchronous 3-lead ECG leveraging inbuilt smartwatch sensors.
                    Data and financials analyst.
                </p>
            </div>
        </div>
        <div class="timeline-container">
            <span class="timeline-dot"></span>
            <div class="timeline-content">
                <h3> Proficiency Education: Tutor </h3>
                <p class="work-time">Feb 2023- Feb 2025</p>
                <p class="work-desc">
                    Worked as a mathematics tutor for 1-on-1 and group classes for Junior Mathematics, 
                    Mathematics Advanced and Mathematics Extension 1
                </p>
            </div>
        </div>
    </div>
    </section>

    <section>
        <p> 
            Outside of building projects, I also like to cook. You can see 
            <a class="cooking-link" href="../cooking"> here</a> 
            for more about that.
        </p>
    </section>
</BaseLayout>