---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Contact">
    <h1>Contact Me</h1>

    <p> Email: 
    <a class="Contact Email" href="mailto:darren.xing05@gmail.com">
        <span>darren.xing05@gmail.com</span>
    </a>
    </p> 
  
    <p> Phone Number: 
    <a class="Contact Number" href="tel:0405362656">
        <span>0405362656</span>
    </a>
    </p>

</BaseLayout>