---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Darren Xing">
  <main>
    <div class="home-text">
    <h3> Hey, I’m Darren Xing.</h3>
    <p> I'm a student currently studying Actuarial Studies and Computer Science at UNSW in Sydney, Australia.</p>
    <p> In my free time, I have participated in trading invitational as well as worked on independent and collaborative projects.</p>
    <p>Some of my projects include:
      <ul>
        <li> An analysis of possible stock market portfolios </li>
        <li> Calculation of risk of ruin of a company </li>
        <li> Assorted ML and LLM projects REPLACETHIS</li>
        <li> Helping to upgrade and modernise the current Museum of Human Diseases Booking System Administration Console</li>
        </ul>
    </p>
    <p>
      I'm also working as an analyst at Everywhere Health, a startup focusing on developing an affordable and asynchronous 3-lead ECG to be used in smartwatches.
    </p>

    <section>
      <h2>Projects</h2>
      <ul>
        <li><a href="/projects/project1">Project 1</a></li>
        <li><a href="/projects/project2">Project 2</a></li>
      </ul>
    </section>

    <section>
      <h2>Other</h2>
      <ul>
        <li>Lorem</li>
        <li>Ipsum</li>
      </ul>
    </section>
    </div>
  </main>
</BaseLayout>
