---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Projects">
  <h1>Projects</h1>
  <ul>
    <li><a href="/projects/first-project">This page is a work in progress</a></li>
  </ul>
</BaseLayout>