---
import Sidebar from "../components/Sidebar.astro";
const { title = "Test" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{title}</title>
  <link rel="stylesheet" href={`${Astro.site}/styles/global.css`}/>
  <meta name="google-site-verification" content="aO_LhAk1hebqynZCqlhPF4rpZNWdmBSJeaaAoTyWPY4" />
</head>
<body>
  <div class="page-wrap">
    <Sidebar/>
    <main class="content">
      <slot />
    </main>
  </div>
</body>
</html>
